.header__socials{
    display: flex;
    gap:0.8rem;
    position: absolute;
    right: 1rem;
    top:2rem;
}

.header__socials::after{
    width:5px;
    height: 5rem;
    background: var(--color-primary);
}

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position:absolute;
    left: 15%;
    margin-top:4rem;
    border-radius: 0 0 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem; 
    opacity: 0.8;
}

.Header h1, h3{

    

}

/*Medium sized Media Devices*/
@media screen and (max-width: 1024px){
    .Header{
        height: 68vh;
        margin-left: 7rem;
    }
}

/*Small sized Media Devices*/
@media screen and (max-width: 600px){
    .Header{
        height: 100vh;
    }
    

}
